{% extends "blogapp/index.html" %}
{% block fecha %}

{% endblock %}
{% block seleccionar %}

{% endblock %}
{% block headbox %}
{% if "tareas_completadas" in request.path %}
    <h6 class="text-center display-4 m-0 font-weight-bold text-primary">Tareas completadas</h6>
{% else %}
    <h6 class="text-center display-4 m-0 font-weight-bold text-primary">Tareas</h6>
{% endif %}

{% endblock %}

{% block contenido %}

<style>
    .fecha-roja {
        color: red;
    }
</style>

<div style="height: 43em; overflow: auto;">
    <main class="container" style="margin-top: 2em;">
        <div class="row">
            <div class="col-md-11 offset-md-0">
                <ul class="list-group">
                    {% for tarea in tareas %}
    
                        <a class="list-group-item" id="tareas" href="{% url 'detalle_tarea' tarea.id %}" style="text-decoration: none;">
                            <header class="d-flex justify-content-between">
                                {% if "tareas_completadas" in request.path %}
                                    <h1 class="fw-bold text-success"><i class='bx bx-task' ></i>  Titulo: {{tarea.titulo}}</h1>
                                {% elif tarea.fecha_limite < tarea.fecha_actual %}
                                    <h1 class="fw-bold text-success"><i class='bx bx-no-entry'>  </i>  Titulo: {{tarea.titulo}}</h1>
                                {% else %}
                                    <h1 class="fw-bold text-success"><i class='bx bx-task-x'></i>  </i>  Titulo: {{tarea.titulo}}</h1>
                                {% endif %}
                                
                                <p>Creador: {{tarea.user.username}}</p>
                                
                            </header>
                                
                                <p>Descripción: {{tarea.descripcion}}</p>
                                {% if "tareas_completadas" in request.path %}
                                    <p>Fecha límite: {{tarea.fecha_limite}}</p>
                                {% elif tarea.fecha_limite < tarea.fecha_actual %}
                                    <p class="fecha-roja">Fecha límite: {{tarea.fecha_limite}}</p>
                                {% else %}
                                    <p>Fecha límite: {{tarea.fecha_limite}}</p>
                                {% endif %}

                                <p>Fecha Completada: {{tarea.fechacompleto}}</p>
                                
    
                        </a>
                        
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </main>
</div>

{% endblock %}
{% block footbox %}
{% endblock %}