{% extends 'blogapp/index.html' %} 
{% block fecha %}

{% endblock %}
{% block headbox %}
    {% if "dashboard" in request.path  or request.path == "/" or request.path == "operarios/todo" %}
    Dashboard
    {% elif diccionario.userList %}
    Operarios de la {{diccionario.userList.0.maquina}}
    {% else %}
    No hay operarios en esta maquina
    {% endif %}
{% endblock %}


{% block seleccionar %}
<select class="form-control" name="turno">
  <option value="Todo" {% if request.POST.turno == 'Todo' %} selected {% endif %}>Todo</option>
  <option value="Mañana" {% if request.POST.turno == 'Mañana' %} selected {% endif %}>Mañana</option>
  <option value="Tarde" {% if request.POST.turno == 'Tarde' %} selected {% endif %}>Tarde</option>
  <option value="Noche" {% if request.POST.turno == 'Noche' %} selected {% endif %}>Noche</option>
  <option value="sinMañana-T" {% if request.POST.turno == 'sinMañana-T' %} selected {% endif %}>Parcial sin Mañana: T - N</option>
  <option value="sinMañana-N" {% if request.POST.turno == 'sinMañana-N' %} selected {% endif %}>Parcial sin Mañana: N - T</option>
  <option value="sinTarde-M" {% if request.POST.turno == 'sinTarde-M' %} selected {% endif %}>Parcial sin Tarde: M - N</option>
  <option value="sinTarde-N" {% if request.POST.turno == 'sinTarde-N' %} selected {% endif %}>Parcial sin Tarde: N - M</option>
  <option value="sinNoche-M" {% if request.POST.turno == 'sinNoche-M' %} selected {% endif %}>Parcial sin Noche: M - T</option>
  <option value="sinNoche-T" {% if request.POST.turno == 'sinNoche-T' %} selected {% endif %}>Parcial sin Noche: T - M</option>
  <option value="estatica-M" {% if request.POST.turno == 'estatica-M' %} selected {% endif %}>Estatica (no rota): M</option>
  <option value="estatica-T" {% if request.POST.turno == 'estatica-T' %} selected {% endif %}>Estatica (no rota): T</option>
  <option value="estatica-N" {% if request.POST.turno == 'estatica-N' %} selected {% endif %}>Estatica (no rota): N</option>
</select>
{% endblock %}


{% block contenido %}


<div class="table-responsive" style="height: 46em;">
    <table class="table table-bordered"  cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Maquina</th>
                <th>2º Conocimiento</th>
                <th>Turno</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in diccionario.userList %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.nombre}}</td>
                <td>{{user.apellido}}</td>
                <td>{{user.maquina}}</td>
                <td>{{user.conocimientos}}</td>
                <td>{{user.turno}}</td>
                <td>
                    <div style="display: flex; justify-content: space-around;">
                        <form action="{% url 'user_detail' user.id %}">{% csrf_token %} <button class="btn btn-dark" style="background-color: #294ee5;"><i class="fa-solid fa-pen-to-square"></i></button></form>
                        <form action="{% url 'estadisticas_user' user.id %}" method="get"><button class="btn btn-dark" style="background-color: #294ee5;"><i class="fa-solid fa-chart-line"></i></button></form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
