{% extends "blogapp/index.html" %}
{% block fecha %}
{% endblock %}
{% block seleccionar %}
<select class="form-control" name="maquina">
    <option value="TODO" {% if request.POST.maquina == 'TODO' %} selected {% endif %}>Maquinas</option>
    <option value="autos" {% if request.POST.maquina == 'autos' %} selected {% endif %}>Autos</option>
    <option value="laser" {% if request.POST.maquina == 'laser' %} selected {% endif %}>Laser</option>
    <option value="tampo" {% if request.POST.maquina == 'tampo' %} selected {% endif %}>Tampografía</option>
    <option value="pulpos" {% if request.POST.maquina == 'pulpos' %} selected {% endif %}>Pulpos</option>
    <option value="digital" {% if request.POST.maquina == 'digital' %} selected {% endif %}>Digital</option>
    <option value="bordado" {% if request.POST.maquina == 'bordado' %} selected {% endif %}>Bordado</option>
    <option value="termo" {% if request.POST.maquina == 'termo' %} selected {% endif %}>Termo</option>
    <option value="planchas" {% if request.POST.maquina == 'planchas' %} selected {% endif %}>Planchas</option>
    <option value="sublimacion" {% if request.POST.maquina == 'sublimacion' %} selected {% endif %}>Sublimación</option>
    <option value="otros" {% if request.POST.maquina == 'otros' %} selected {% endif %}>Envasado y manipulación</option>
</select>
{% endblock %}
{% block headbox %}
<h6 class="text-center display-4 m-0 font-weight-bold text-primary">Historial cambios de máquina</h6>
{% endblock %}


{% block head %}
<style>
    .grupo1 a{
        border-radius: 20px;
        width: 30%;
        border: solid 1px #cccccc;
        padding: 10px;
        margin-top: 5px;
        transition: 0.1s ease;
        position: relative;
        backdrop-filter: blur(20px);
    }
    .grupo1 a:hover{
        
        background-color: #e6e6e6;
        box-shadow: 0 0 80px #666666;
    }
    .grupo1 a:hover .boton{
        box-shadow: 0 0 80px #666666;
    }
    .grupo1 span{
        border-radius: 20px;
        width: 30%;
        border: solid 1px #cccccc;
        padding: 10px;
        margin-top: 5px;
        transition: 0.1s ease;
        position: relative;
        backdrop-filter: blur(20px);
    }
    .grupo1 span:hover{
        
        background-color: #e6e6e6;
        box-shadow: 0 0 80px #666666;
    }
    .grupo1 span:hover .boton{
        box-shadow: 0 0 80px #666666;
    }
    .input-box
    {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }

    .input-box input
    {
        width: 100%;
        height: 40px;
        font-size: 20px;
        background: white;
        outline: none;
        border: 2px solid rgba(163, 163, 163, 0.322);
        border-radius: 40px;
        font-size: 16px;
        color: black;
        padding: 20px 45px 20px 20px;
    }
    .fecha{
    display: flex;    
    }
    label{
        color: black;
        margin-left: 15px;
    }
    .boton{
        position: absolute;
        top: -15px;
        right: -20px;
    }
    
</style>
{% endblock %}

{% block contenido %}

<div style="height: 43em; overflow: auto;" >
    <div class="list-group grupo1" style="margin: auto;width: 95%;">
        <p class="btn btn-danger errorboton" style="pointer-events: none; width: 95%; position: relative; z-index: 11; margin: auto;">{{ error }}</p>
        <br>
        <div style="display: flex; flex-wrap: wrap; gap: 15px; width: 100%; justify-content: center;">
            {% if request.user.is_superuser %}
                {% for machine in maquinas|dictsortreversed:"id_permutado" %}
                    <span href="#" style="text-decoration: none; z-index: 10;">
                            <div class="input-box">
                                <input style="text-align: center;" type="text" required value="{{machine.usuario.apellido}}, {{machine.usuario.nombre}}" readonly>
                            </div>
                            <div style="display: flex;">
                                <div class="input-box">
                                    <label>Maquina Actual</label>
                                    <input type="text" readonly value="{{machine.tipo}}">
                                </div>
                                <div class="input-box">
                                    <label>Maquina Anterior</label>
                                    <input type="text" readonly value="{{machine.auxiliar}}">
                                </div>
                            </div>
                            
                            <div class="input-box fecha">
                                <div>
                                    <label style="margin-left: 10px;">Fecha Inicio</label>
                                    <input  type="date" value="{{machine.fecha_inicio}}" readonly>
                                </div>
                                <div>
                                    <label style="margin-left: 10px;">Fecha Fin</label>
                                    <input  type="date"value="{{machine.fecha_fin}}" readonly>
                                </div>
                            </div>
                            <br>
                            <form action="{% url 'permutamaquinadelete' machine.id_permutado %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger boton">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                    </span>
                    <br>
                {% endfor %}
            {% else %}
                {% for machine in maquinas|dictsortreversed:"id_permutado" %}
                    <span href="#" style="text-decoration: none; z-index: 10;">
                            <div class="input-box">
                                <input style="text-align: center;" type="text" required value="{{machine.usuario.apellido}}, {{machine.usuario.nombre}}" readonly>
                            </div>
                            <div style="display: flex;">
                                <div class="input-box">
                                    <label>Maquina Actual</label>
                                    <input type="text" readonly value="{{machine.tipo}}">
                                </div>
                                <div class="input-box">
                                    <label>Maquina Anterior</label>
                                    <input type="text" readonly value="{{machine.auxiliar}}">
                                </div>
                            </div>
                            
                            <div class="input-box fecha">
                                <div>
                                    <label style="margin-left: 10px;">Fecha Inicio</label>
                                    <input  type="date" value="{{machine.fecha_inicio}}" readonly>
                                </div>
                                <div>
                                    <label style="margin-left: 10px;">Fecha Fin</label>
                                    <input  type="date"value="{{machine.fecha_fin}}" readonly>
                                </div>
                            </div>
                            <br>
                    </span>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block footbox %}
{% endblock %}